/target
/crates/**/target
/examples/**/target

.DS_Store
*.vscode
Cargo.lock
*.st
*.npx
*.npz
*.model
*.gguf
proptest-regressions
*.pftrace
*.safetensors
*.safetensors.index.json
tokenizer.json
**/.cache

*.env
*.claude