<div id="egraph-visualizer"></div>
<link rel="stylesheet" href="https://esm.sh/egraph-visualizer/dist/style.css" />
<script type="module">
  import { mount } from "https://esm.sh/egraph-visualizer";
  const egraph = {{JSON_TEMPLATE}};
  const mounted = mount(document.getElementById("egraph-visualizer"));
  mounted.render([JSON.stringify(egraph)]);
</script>