name: Test

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

env:
    CARGO_TERM_COLOR: always

jobs:
    unit_test:
        name: Core Unit Tests
        runs-on: ubuntu-latest
        timeout-minutes: 20

        steps:
            - uses: actions/checkout@v4
            - name: Run tests
              run: sudo apt-get install protobuf-compiler; rustup update; cargo test --workspace --exclude luminal_cuda --verbose

    clippy:
        name: Clippy
        runs-on: ubuntu-latest
        timeout-minutes: 20

        steps:
            - uses: actions/checkout@v4
            - name: Run clippy
              run: rustup update; cargo clippy --all-targets -- -D warnings

    fmt:
        name: Fmt
        runs-on: ubuntu-latest
        timeout-minutes: 20

        steps:
            - uses: actions/checkout@v4
            - name: Format
              run: cargo fmt --all --check
    gpu_test:
        name: Cuda Unit Tests
        runs-on: cuda_t4_runner
        timeout-minutes: 30
        env:
            CUDA_HOME: /usr/local/cuda-12.8
            LD_LIBRARY_PATH: /usr/local/cuda-12.8/lib64

        steps:
            - uses: actions/checkout@v4

            - name: Install system deps
              run: |
                  sudo apt-get update
                  sudo apt-get install -y --no-install-recommends \
                  protobuf-compiler \
                  cuda-nvrtc-12-8

            - name: Install Rust
              run: |
                  curl -sSf https://sh.rustup.rs | sh -s -- -y --profile minimal
                  echo "$HOME/.cargo/bin" >> "$GITHUB_PATH"
                  rustup update

            - name: Run CUDA crate tests
              run: cargo test -p luminal_cuda --verbose
