name: Test

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

env:
    CARGO_TERM_COLOR: always

jobs:
    unit_test:
        name: Core Unit Tests
        runs-on: ubuntu-latest
        timeout-minutes: 20

        steps:
            - uses: actions/checkout@v4
            - name: Run tests
              run: sudo apt-get install protobuf-compiler; rustup update; cargo test --workspace --exclude luminal_cuda --verbose

    clippy:
        name: Clippy
        runs-on: ubuntu-latest
        timeout-minutes: 20

        steps:
            - uses: actions/checkout@v4
            - name: Run clippy
              run: rustup update; cargo clippy --all-targets -- -D warnings

    fmt:
        name: Fmt
        runs-on: ubuntu-latest
        timeout-minutes: 20

        steps:
            - uses: actions/checkout@v4
            - name: Format
              run: cargo fmt --all --check
    gpu_test:
        name: Cuda Unit Tests
        runs-on: cuda_t4_runner
        timeout-minutes: 30

        steps:
            - uses: actions/checkout@v4
            - name: Install nvrtc
              run: sudo apt-get update; sudo apt-get install -y cuda-nvrtc-12-8
            - name: Install rust & protobuf
              run: sudo apt-get update && sudo apt-get install -y protobuf-compiler; curl https://sh.rustup.rs -sSf | sh -s -- -y; source "$HOME/.cargo/env"; rustup update;
            - name: Run CUDA crate tests
              run: export LD_LIBRARY_PATH=/usr/local/cuda-12.8/lib64:$LD_LIBRARY_PATH; source "$HOME/.cargo/env"; cargo test -p luminal_cuda --verbose
